<div class="login">

    <div class="login__form-container">
            
        <h2>Continúe Con</h2>

        <div class="container-fluid">

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">

                    <div class="row">
                        <div class="col-6">
                            <button class="btn login__social_buttons col">
                                <img src="assets/google.png" alt="">
                            </button>
                        </div>
                    
                        <div class="col-6">                    
                            <button class="btn login__social_buttons col">
                                <img src="assets/facebook.png" alt="">
                            </button>
                        </div>
                    </div>

                    <hr>

                </div>
            </div>

        </div>


        <h2>O ingrese Con Correo</h2>

        <form>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <!-- Email -->
                    <div class="md-form form-group">
                        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
                        <input type="email" id="email" class="form-control" mdbInput>
                        <label for="email">E-mail</label>
                    </div>
                </div>

                <div class="col-12 col-md-8 offset-md-2">
                    <!-- Password -->
                    <div class="md-form form-group">
                        <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                        <input type="password" id="password" class="form-control" mdbInput>
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="col-12 col-md-8 offset-md-2">
                    <button type="button" mdbBtn mdbWavesEffect>INGRESAR</button>
                </div>
            </div>            
        </form>
    </div>
</div>