<div class="container character-detail mt-5" *ngIf="character">
    <div class="row">
        <div class="col-8">
            <img 
                [src]="character.thumbnail.path + imageType + character.thumbnail.extension"
                class="img-fluid"
            >
        </div>
        <div class="col-4">
            <div class="character-detail__information mt-5">
                <h2> {{ character.name }} </h2>
                <p class="character-detail__date"> Updated {{ character.modified }} </p>
                <p class="character-detail__description"> {{ character.description }} </p>
            </div>
        </div>
    </div>        

    <div class="character-detail__comics mt-5">
        <h2>COMICS</h2>

        <ngx-slick-carousel 
            class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" 
        >
          <div ngxSlickItem *ngFor="let comic of comics" class="slide">
              <img [src]="comic.thumbnail.path + this.comicImageType + comic.thumbnail.extension" width="100%">
          </div>
        </ngx-slick-carousel>
    </div>
</div>