@import "../../../shared/styles/colors.scss";

:host(app-character-detail){

    .character-detail{
        img{
            border-radius: 20px;
            width: 100%;
        }
        .character-detail__information{
            background: $third;
            border-radius: 20px;
            margin-left: -100px;
            padding: 40px 5px 5px 5px;
            h2{
                font-size: 34pt;
                font-weight: 700;
            }
            .character-detail__date{
                color: #199BF0;
                font-size: 10pt;
                font-weight: 700;
            }
        }
        .character-detail__comics{
            h2{
                font-weight: 700;
            }
        }
    }  
    
    @media(max-width: 767px){

        .character-detail__information{
            margin-left: 0px !important;
        }
    }
}